<div class="jumbotron jumbotron-fluid">
    <h1 class="text-left">Angular-JS Pic Manager</h1>
    <p class="lead">Cadastrar/Alterar foto</p>
</div>   
<div class="page-header text-center">
    <h1>{{foto.titulo}}</h1>
</div>
<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
<form novalidate name="formFotoSave" class="row" ng-submit="salvar()">
    <div class="col-md-6">
        <div class="form-group">
            <label>Título</label>
            <input ng-model="foto.titulo" name="titulo" class="form-control" ng-maxlength="20" required>
            <span ng-show="formFotoSave.$submitted && formFotoSave.titulo.$error.required" class="form-control alert-danger">
            	Título obrigatório!
            </span>
            <span ng-show="formFotoSave.$submitted && formFotoSave.titulo.$error.maxlength" class="form-control alert-danger">
            	Título deve ter no máximo 20 caracteres!
            </span>
        </div>
        <div class="form-group">
            <label>URL</label>
            <input ng-model="foto.url" name="url" class="form-control" required>
            <span ng-show="formFotoSave.$submitted && formFotoSave.url.$error.required" class="form-control alert-danger">
            	URL obrigatória!
            </span>
        </div>
        <div class="form-group">
            <label>Descrição</label>
            <textarea ng-model="foto.descricao" name="descricao" class="form-control">
            </textarea>
        </div>
        <div class="form-group">
            <label>Grupo</label>
            <select ng-model="foto.grupo" ng-controller="GrupoController" name="grupo" class="form-control" ng-options="grupo._id as (grupo.nome | uppercase) for grupo in grupos" required>
                <option value="">SELECIONE...</option>
            </select>
            <span ng-show="formFotoSave.$submitted && formFotoSave.grupo.$error.required" class="form-control alert-danger">
                Grupo obrigatório
            </span>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="formFotoSave.$invalid">Salvar
        </button>
         <a href="/fotos" class="btn btn-primary" meu-foco>Voltar</a>
        <hr>
    </div>
    <div class="col-md-6">
        <minha-foto url="{{foto.url}}" descricao="{{foto.descricao}}"></minha-foto>
    </div>
</form>
